/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
}

ul {
    list-style: none;
}

body {
    background-color: #FAF6ED;
    color: #222;
}

.grid--container {
    display: grid;
    grid-template-columns: 1fr 120px minmax(300px, 800px) 1fr;
}

.grid--section {
    display: grid;
    grid-column: 2/4;
    grid-template-columns: 90px 300px 1fr;
    grid-gap: 1.25rem;

    width: 100%;
    padding: .625rem;
    margin-bottom: 4rem;
}

.section {
    opacity: 0;
    transform: translateX(-30px);
    transition: .5s;
}

.section.active {
    opacity: 1;
    transform: translateX(0);
}

/* H1 Title */
.title {
    grid-column: 1/4;
    margin-bottom: 1rem;

    font-family: georgia;
    font-weight: 400;   
    font-size: 6rem;
    line-height: 1;
}

/* nav */
.menu {
    grid-column: 3/5;
    margin: 2rem 0;

    background-color: #FB5;
}

.menu ul {
    display: flex;
    flex-wrap: wrap;
    padding: .625rem;
}

.menu li a {
    display: block;
    padding: .75rem;
    margin-right: 10px;

    color: #222;
    text-decoration: none;
    font-family: monospace;
    font-weight: 600;
    text-transform: uppercase;
    font-size: .875rem;
    letter-spacing: .1em;
}

/* Animals Section */
.animals--list {
    grid-column: 2;
    height: 370px;
    overflow-y: scroll;
}

.animals--list li {
    cursor: pointer;
}

.animals--list::-webkit-scrollbar {
    width: 18px;
}

.animals--list::-webkit-scrollbar-thumb {
    background-color: #FB5;
    border-left: 4px solid #FAF6ED;
    border-right: 4px solid #FAF6ED;
}

.animals--description {
    grid-column: 3;
}

[data-tab="desc"] section {
    display: none;
    margin-bottom: 3rem;
}

[data-tab="desc"] section.active {
    display: block !important;
}

[data-tab="desc"] section.show-right {
    animation: showRight .5s forwards;
}

.animals h2 {
    margin-bottom: 1rem;

    color: #E54;
    font-size: 1rem;
    font-family: monospace;
    text-transform: uppercase;
    letter-spacing: .1em;
}

.animals h2::before {
    display: inline-block;
    content: '';
    width: 40px;
    height: 10px;
    margin-right: 10px;

    background-color: #FB5;
}

.animals p {
    margin-bottom: 1rem;

    font-family: Helvetica, Arial;
    line-height: 1.2;
}

/* FAQ Section */
.faq--list {
    grid-column: 2/4;
}

.faq--list dt {
    margin: 2rem 0 .5rem;

    color: #E54;
    font-family: monospace;
    font-weight: 600;

    cursor: pointer;
}

.faq--list dt::after {
    content: '⮧';
    margin-left: 5px;

    font-size: 0.8rem;
}

.faq--list dt.active::after {
    content: '⮥';
}

.faq--list dt::before {
    display: inline-block;
    content: '';
    width: 20px;
    height: 10px;
    margin-right: .625rem;

    background-color: #FB5;
}

[data-anime="accordion"] dd {
    display: none;
    margin-bottom: .5rem;
    margin-left: 1.875rem;

    font-family: Helvetica, Arial;
}

[data-anime="accordion"] dd.active {
    display: block;
    animation: slideDown .5s forwards;
}

/* Contact Section */
.map {
    grid-column: 2;
}

.data {
    grid-column: 3;
}

.data li {
    margin-bottom: 1rem;
    font-family: Helvetica, Arial;
}

.data li::before {
    display: inline-block;
    content: '';
    width: 20px;
    height: 10px;
    margin-right: .625rem;

    background-color: #FB5;
}

/* Footer */
.copy {
    grid-column: 3/5;
    margin-bottom: 2rem;
    background-color: #FB5;
}

.copy p {
    font-family: monospace;
    padding: 1.25rem;
    font-weight: 600;
}

/* Responsiveness */
@media (max-width: 700px) {
    .grid--container {
        grid-template-columns: 1fr;
    }

    .grid--section {
        grid-column: 1;
        grid-template-columns: 100px 1fr;
        grid-gap: .625rem;
    }

    .grid--section h1 {
        font-size: 3rem;
    }

    .menu {
        grid-column: 1;
        margin-top: .5rem;
    }

    .animals--list {
        grid-column: 1;
    }

    .faq--list, .data, .map {
        grid-column: 1/3;
    }

    .copy {
        grid-column: 1;
        margin-bottom: .5rem;
    }
}

/* Animation */
@keyframes showRight {
    from {
        opacity: 0;
        transform: translateX(-30px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideDown {
    from {
        opacity: 0;
        max-height: 0;
    }
    to {
        opacity: 1;
        max-height: 500px;
    }
}