//  ======== CORES =============
$primary-color: #FFB93D;
$secondary-color: #828285;

$light-green: #3F4;
$light-gray: #EEE;

$black-2: #222;
$black-3: #333;

$white: #FFF;
$white-bg: #FAF6ED;


$border-r: 6px;